#
# Git normalization
#

.gitattributes export-ignore  
.gitignore export-ignore

*.py text eol=lf diff=python whitespace=blank-at-eol,space-before-tab,tab-in-indent,tabwidth=4
*.txt text eol=lf whitespace=blank-at-eol
*.rst text eol=lf whitespace=blank-at-eol
*.in text eol=lf whitespace=blank-at-eol
