language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - "pip install ."
# get the test images
before_script:
  - "wget https://github.com/ianare/exif-samples/archive/master.tar.gz"
  - "tar -xzf master.tar.gz"
script:
  - "find exif-samples-master -name *.tiff -o -name *.jpg | xargs EXIF.py"
  - "find exif-samples-master -name *.tiff -o -name *.jpg | xargs EXIF.py -dc"
