#
# Run static code analysis.
#
name: Static Analysis

on:
  - push
  - pull_request

jobs:
  static-check:
    name: Run Static Analysis
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-dev-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-dev-

    - name: Install dependencies
      run: |
        pip install virtualenv
        make venv reqs-install

    - name: Analysing the code with mypy
      run: |
        make mypy

    - name: Analysing the code with pylint
      run: |
        make lint
