#
# Run unit tests.
#
name: Test

on:
  - pull_request

jobs:
  pytest:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python-version:
          - "3.5"
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-test-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-test-

    - name: Download Samples
      run: |
        make samples-download

    - name: Install
      run: |
        pip install -e .

    - name: Run in debug and color mode
      run: |
        find exif-samples-master -name *.tiff -o -name *.jpg | xargs EXIF.py -dc

    - name: Compare image processing output
      run: |
        find exif-samples-master -name *.tiff -o -name *.jpg | sort -f | xargs EXIF.py > exif-samples-master/dump_test
        diff -Z --side-by-side --suppress-common-lines exif-samples-master/dump exif-samples-master/dump_test
